<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.scout.service.services">
      <service
            class="org.eclipse.scout.example.hibernate.dao.PersonAccessService"
            createImmediately="false"
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            ranking="10"
            session="org.eclipse.scout.example.hibernate.server.ServerSession">
      </service>
   </extension>

</plugin>
